.category__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 57px 0 43px;
  margin: 0 -56px;
}

.category__item {
  margin: 0 56px;
  padding: 0 0 0px 5px;
  height: 400px;
  width: 325px;
  border: 5px solid #ffffff;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.category__item:nth-child(1) {
  background: url("../img/category-img1.png") no-repeat;
}

.category__item:nth-child(2) {
  background: url("../img/category-img2.png") no-repeat;
}

.category__item:nth-child(3) {
  background: url("../img/category-img3.png") no-repeat;
}

.category__item:nth-child(2) .category__title {
  color: rgb(234, 105, 105);
  opacity: 0.7;
}

.category__item:hover .category__title {
  opacity: 1;
}

.category__title {
  font-family: "Arizonia";
  font-weight: 400;
  font-size: 90px;
  line-height: 112px;
  color: rgb(250, 243, 248);
  margin-bottom: 0px;
  opacity: 0.7;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}