.footer {
  height: 400px;
  padding: 180px 38px 16px 13px;
  background: url("../img/footer-bg.png") no-repeat center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.footer::before {
  content: "";
  width: 230px;
  height: 230px;
  background: url("../img/form-decor.png") no-repeat;
  position: absolute;
  top: 0px;
  left: 13px;
}

.footer__start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__text {
  margin: 0 95px 0 0;
}

.footer__text-big {
  font-family: "Arizonia";
  font-weight: 400;
  font-size: 100px;
  line-height: 125px;
  color: #000;
  margin-bottom: 15px;
  -webkit-text-stroke: 3px #000;
}

.footer__text-descr {
  font-family: "Arizonia";
  font-weight: 400;
  font-size: 25px;
  line-height: 31px;
  color: #fff;
  margin-bottom: 0px;
  letter-spacing: 3px;
  -webkit-text-stroke: 0.7px #000;
}

.footer__info-box {
  max-width: 400px;
  font-family: "Anonymous Pro";
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: none;
  margin-bottom: 0px;
  font-style: italic;
}

.footer__end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__ico {
  margin-left: 35px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.footer__ico:first-child {
  margin-left: 0;
}

.footer__ico:hover {
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
}

.address {
  color: #fff;
  margin-bottom: 23px;
}

.contact {
  color: #333;
}

@media (max-width: 768px) {
  .footer {
    height: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}