.product {
  padding: 0 15px;
}

.product__item {
  margin: 30px -15px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product__box {
  margin: 0 15px;
  max-width: 600px;
}

.product__img-box-big {
  margin-bottom: 20px;
}

.product__img-big-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0 35px 0 0;
}

.product__img-text {
  font-family: "Anonymous Pro";
  font-weight: 700;
  font-size: 64px;
  line-height: 90%;
  color: #1e1e1e;
  margin-bottom: 0px;
  font-style: italic;
  -webkit-text-stroke: 1px #ffffff;
}

.product__img-text div {
  font-size: 36px;
  font-weight: 400;
  color: #000;
  -webkit-text-stroke: 0.5px #1e1e1e;
}

.product__img-text-bottom {
  font-size: 24px;
}

.product__img-big {
  position: relative;
}

.product__img-big img {
  width: 100%;
}

.product__price-box {
  font-family: "Anonymous Pro";
  font-weight: 700;
  font-size: 50px;
  line-height: 112%;
  color: none;
  margin-bottom: 0px;
  font-style: italic;
  text-align: right;
  width: 156.87px;
  position: absolute;
  left: 3px;
  bottom: 45px;
}

.product__price {
  padding: 0 10px;
  background: rgba(165, 167, 168, 0.5);
  border: 2px solid #FFFFFF;
  border-radius: 0px 10px 0px 0px;
  width: 156.87px;
  height: 59.7px;
  letter-spacing: 0.01em;
  color: #303030;
}

.product__discount {
  padding: 0 10px;
  width: 94.01px;
  height: 39.91px;
  margin: 0 0 0 auto;
  background: rgba(165, 167, 168, 0.5);
  border: 2px solid #FFFFFF;
  border-radius: 0px 0 0 10px;
  text-decoration: line-through;
  font-size: 24px;
  letter-spacing: -0.04em;
  color: rgba(251, 48, 48, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.product-mark {
  width: 80px;
  height: 80px;
  font-size: 32px;
  font-style: italic;
}

.product__img-mini-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -12.5px -9px;
  position: relative;
}

.product__img-mini-box::after {
  content: "";
  width: 1149px;
  height: 458px;
  background: -webkit-gradient(linear, left top, right top, color-stop(3.08%, rgba(217, 217, 217, 0)), color-stop(36.3%, rgba(217, 217, 217, 0.785012)), color-stop(98.16%, rgba(217, 217, 217, 0)));
  background: -o-linear-gradient(left, rgba(217, 217, 217, 0) 3.08%, rgba(217, 217, 217, 0.785012) 36.3%, rgba(217, 217, 217, 0) 98.16%);
  background: linear-gradient(90deg, rgba(217, 217, 217, 0) 3.08%, rgba(217, 217, 217, 0.785012) 36.3%, rgba(217, 217, 217, 0) 98.16%);
  -webkit-filter: blur(15px);
          filter: blur(15px);
  position: absolute;
  top: 0;
  left: 110%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  z-index: -1;
}

.product__img-mini {
  max-width: 290px;
  margin: 12.5px 9px;
}

.product__img-mini img {
  width: 100%;
}

.product__info-box {
  margin-top: 95px;
}

.product__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 750px;
}

.product__filter-item {
  position: static;
  display: block;
  margin-bottom: 40px;
}

.product__filter-item:last-child {
  margin-bottom: 0;
}

.product__radio-butons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 105px;
}

.product__btn {
  font-family: "Anonymous Pro";
  font-weight: 700;
  font-size: 24px;
  line-height: 90%;
  color: #4d4d4d;
  margin-bottom: 17px;
  -webkit-text-stroke: 1px #ffffff;
  border-radius: 16px;
  padding: 14px 15px;
  border: 4px solid transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#EA6969), to(#EA6969)) padding-box, -webkit-gradient(linear, left top, right top, color-stop(46.41%, #2D2727), color-stop(98.33%, rgba(96, 101, 222, 0))) border-box;
  background: -o-linear-gradient(#EA6969, #EA6969) padding-box, -o-linear-gradient(left, #2D2727 46.41%, rgba(96, 101, 222, 0) 98.33%) border-box;
  background: linear-gradient(#EA6969, #EA6969) padding-box, linear-gradient(to right, #2D2727 46.41%, rgba(96, 101, 222, 0) 98.33%) border-box;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.product__btn:hover {
  color: #000;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0);
}

.product__icos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -7px;
}

.product__ico {
  margin: 0 7px;
  font-size: 43px;
  background: transparent;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.product__ico:hover {
  color: #4d4d4d;
}

.product__ico.active {
  color: #EA6969;
}

.product__mini-img-box {
  margin-bottom: 20px;
}

.product__mini-img-box:last-child {
  margin-bottom: 0;
}

.product__mini-img {
  position: relative;
  max-width: 250px;
  height: 150px;
}

.product__mini-img img {
  width: 100%;
  height: 100%;
}

.product__mini-img:nth-child(n+2) {
  left: -47px;
  top: -4px;
}

.product__title:nth-child(1) {
  font-family: "Dancing Script";
  font-weight: 700;
  font-size: 48px;
  line-height: 90%;
  color: #1e1e1e;
  margin-bottom: 18px;
}

.product__title:nth-child(2) {
  font-family: "Dancing Script";
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  color: #fff;
  margin-bottom: 20px;
}

.product__text-box {
  margin-top: 65px;
}

.product__descr {
  font-family: "Anonymous Pro";
  font-weight: 400;
  font-size: 27px;
  line-height: 90%;
  color: #422121;
  margin-bottom: 0px;
  font-style: italic;
}

.radio-buttons__item-color {
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.radio-buttons__item-color::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
  border: 3px solid #6065DE;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  position: relative;
}

.radio-buttons__item-color:nth-child(1)::before {
  background: #F2E993;
  border-color: #6065DE;
}

.radio-buttons__item-color:nth-child(2)::before {
  background: #F1A864;
  border-color: #6065DE;
}

.radio-buttons__item-color:nth-child(3)::before {
  background: #A4F5CE;
  border-color: #6065DE;
}

.radio-buttons__item-color:nth-child(4)::before {
  background: #EA6969;
  border-color: #6065DE;
}

.radio-buttons__item-color:nth-child(5)::before {
  background: rgba(168, 234, 243, 0.8);
  border-color: #6065DE;
}

.radio-buttons__item-color:nth-child(6)::before {
  background: #FB3030;
  border-color: #6065DE;
}

.radio-buttons__item-color.active::before {
  border-color: #EA6969;
}

.number-box {
  font-family: "Anonymous Pro";
  font-weight: 700;
  font-size: 24px;
  line-height: 90%;
  color: #4d4d4d;
  margin-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 4px solid transparent;
  border-radius: 27px;
  background: -webkit-gradient(linear, left top, left bottom, from(#faf3f3), to(#faf3f3)) padding-box, -webkit-gradient(linear, left top, right top, color-stop(0, #7575dd), color-stop(98%, rgba(117, 117, 221, 0))) border-box;
  background: -o-linear-gradient(#faf3f3, #faf3f3) padding-box, -o-linear-gradient(left, #7575dd 0, rgba(117, 117, 221, 0) 98%) border-box;
  background: linear-gradient(#faf3f3, #faf3f3) padding-box, linear-gradient(to right, #7575dd 0, rgba(117, 117, 221, 0) 98%) border-box;
}

.plus {
  width: 30px;
  height: 30px;
  background: #D9D9D9;
  border: 3px solid #6065DE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.plus:hover {
  border-color: #EA6969;
}

.minus {
  width: 30px;
  height: 30px;
  background: #D9D9D9;
  border: 3px solid #6065DE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.minus:hover {
  border-color: #EA6969;
}

@media (max-width: 425px) {
  .product__info {
    height: auto;
  }
}