@font-face {
  font-family: "Dancing Script";
  src: url("DancingScript-Bold.eot");
  src: local("Dancing Script Bold"), local("DancingScript-Bold"),
    url("DancingScript-Bold.eot?#iefix") format("embedded-opentype"),
    url("DancingScript-Bold.woff2") format("woff2"),
    url("DancingScript-Bold.woff") format("woff"),
    url("DancingScript-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
